body, html {
    font-family: kansasnew, serif;
    font-weight: 400;
    font-style: normal;
    background-color: #EF8F83;    
    padding: 0;
    margin: 0;
    color: black;
}

h2 {
    letter-spacing: 4px;
    font-family: cooper-black-std,serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    letter-spacing: 2px;
    font-family: cooper-black-std,serif;
    font-weight: 400;
    font-style: normal;
}

p {
    letter-spacing: 0.7px;
    font-size: 15px;
    margin: 20px 20px;
}

a {
    color: #5B5851;
}

nav {
    background-color: #F9EED9;
    color: black;
    /*height: 70px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    position: sticky;
    top: -1px;
}

.nav-list {/*
    padding: 0;
    margin: -10px 30px 0px 0px;*/
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    float: right;

}

nav ul li a{
    display: inline-block;
    padding: 20px 20px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    height: 100%;
    text-transform: uppercase;

}

.menu{
    display: none;
}

.menu-line {
    width: 20px;
    height: 3px;
    background-color: black;
    margin-bottom: 3px;
}

.logo {
    box-shadow: 0px 0px 0px rgb(0 0 0 / 0%);
    height: 60px;
    margin: 5px;
}


@media all and (max-width: 600px){
    figure{
        width: 100%;
    }

    p { 
        margin: 10px;
        font-size: 12px; 

    }
    img {
        width: 100%;

    }

    nav {

    }

    .nav-list {
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding-top: 50px;
        padding-right: 20px;
        display: none;

    }

    nav ul li a {
        font-size: 25px;
        text-align: center;

    }

   .navbar-links {
        margin: 0 auto;
        display: block;

        
    }

    .menu {
        background-color: #F9EED9;
        border: none;
        color: black;
        display: block;
        position: absolute;
        right: 20px;
        top: 28px;
       
    } 

    .logo {
        box-shadow: 0px 0px 0px rgb(0 0 0 / 0%);
        display: inline-flex;
        flex-direction: column;
    }

    .active {
        display: block;
    }

    div .sepV {
        height: 150px;
    }

}

figure{
    margin: 25px 0 0 0;
}

figcaption {
    font-size: 12px;
    padding: 0 0 15px 0;   
}

img {
    box-shadow: 0px 0px 7px rgb(0 0 0 / 30%);
}

footer {
    background-color: #F9EED9;
    padding: 30px;
}

.footer h4 {
    font-size: 20px;
}

.footer div{
   margin: 30px 0px 30px 0 px;
   left: 50%;
}

.footer a{
    padding: 10px 25px;
}

.update-banner {
    background-color: #F5B9B2;
    color: #3C2421;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.sepV {
    float: left;
    width: 2px;
    height: 70px;
    background-color: #3C2421;
    margin-top: 25px;
}

.self-portrait{
    width: 350px;
}

.wrapper {
	width: 100%;
    padding: 10px 0 0;
	margin: 0 auto;
	text-align: center;
}

.my-work {
    background-color: #F5B9B2;
    color: #3C2421;
    overflow: hidden;
    padding: 5px 0;
}

.col1 {
    float: left;
    width: 39.5%;
    margin: 0 5%;
}


.col2 {
    float: right;
    width: 39.5%;
    margin: 0 5%;
}

.heading-my-work {
    clear: both;
}

.row{
    margin: 0 30px;
}

.column {
    box-sizing: border-box;
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media all and (max-width: 500px) {
      .column {
        width: 100%; }
}

.see-more p{
    margin: 20px 0 30px 0 ;
}

